* {
    padding: 0;
    margin: 0;
}

#about-button {
    background-color: indianred;
}

#about-button:hover {
    background-color: brown;
}

#intro {
    margin-top: 2.5rem;
}

.img-container {
    margin-top: 2.5rem;
}

.img-size {
    margin-top: 0.625rem;
    width: auto;
    max-height: 18.75rem;
    height: auto;
}

.job-title {
    font-size: 1.25rem;
    font-weight: 600;
}

h2 {
    display: inline;
}